@media screen and (min-width:768px) and (orientation:landscape){
    div{
        width: 300px;
        height: 324px;
        background-image: url('../imagens/bob.jpg');
        background-size: cover;
        position: absolute;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
    img{
        display: none;
    }
    main{
        width: 768px;
        background-color: white;
        position: absolute;
        border-radius: 20px;
        height: fit-content;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.301);
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: inline-block;
    }
    p{
        text-align: left;
        background-color: var(--cor2);
        width: 400px;
        margin-left: 330px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
        height: 50px;
    }
    h2{
        width: 400px;
        margin-left: 330px;
    }
    h1{
        margin-left: 330px;
    }
    input#entrar,input#forgot{
        width: 400px;
        height: 40px;
        margin-top: -10px;
        margin-bottom: 15px;
        border-radius: 10px;
        border: none;
        margin-left: 330px;
    }
}